html {
  font-family: "Open Sans";
  background: radial-gradient(circle, rgb(59, 59, 219), rgb(108, 152, 209));
}

body {
  margin: 50px;
  color: white;
  text-align: center;
}

h1 {
  color: white;
}

.container {
  display: flex;
}

.column {
  display: flex;
  justify-content: center;
  align-items: center;
}

figure {
  text-align: center;
}

img {
  width: 350px;
  height: 250px;
  border: 3px solid white;
}

figcaption {
  margin-top: 4px;
  font-size: 0.9em;
  color: #ccc;
}
